<div class="track-wrapper">
  <span class="li-img batt-{{percentage}}"></span>
  <div class="percentage-container">
    <span class="percent">{{ findPercentCompleted(individualTrack).toFixed(2) }}%</span>
    <progress max="100" value="{{ findPercentCompleted(individualTrack) }}"></progress>
  </div>
  <div class="track-details">
    <div class="track-details-inputs">
      <label *ngIf="!individualTrack.editName"
             (click)="editTrackDetails(individualTrack, 'name'); $event.stopPropagation()"
             name="name">{{ individualTrack.name }}</label>
      <input *ngIf="individualTrack.editName"
             (click)="$event.stopPropagation()"
             (change)="individualTrack.editName = false; updateTrackName($event, individualTrack, name.value);"
             (keyup)="updateName($event, individualTrack, name.value)"
             class="name"
             value="{{ individualTrack.name }}"
             type="text"
             name="name"
             pattern="[a-zA-Z\s]+"
             autofocus="true" #name>
    </div>
    <div>
      <label *ngIf="!individualTrack.editTime"
             (click)="editTrackDetails(individualTrack, 'time'); $event.stopPropagation()"
             name="time">{{ individualTrack?.time }} hour(s)</label>
      <input *ngIf="individualTrack.editTime"
             (click)="$event.stopPropagation()"
             (blur)="individualTrack.editTime = false; updateTrackTime(individualTrack, time.value); $event.stopPropagation()"
             (keypress)="updateTime($event, individualTrack, time.value)"
             class="time"
             value="{{ individualTrack?.time }}"
             type="text"
             name="time"
             pattern="/^\d*\.?\d*$/"
             autofocus #time>
    </div>
  </div>
</div>
