#progressContainer {
    margin: 0 auto 2em;
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progressContainer > div {
    height: 300px;
    width: 100px;
    transform: rotate(270deg);
}

@media screen and (min-width: 568px) {
    #progressContainer > div {
        height: 300px;
    }
}

.top {
    position: absolute;
    width: 100%;
    text-align: right;
    z-index: 1;
    left: 33%;
    top: 80%;
    transform: rotate(90deg);
}

.top:before {
    content: '';
    background: white;
    width: 66%;
    height: 17px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: -1%;
    opacity: .5;
}

.bottom {
    position: absolute;
    width: 100%;
    text-align: left;
    z-index: 1;
    right: 33%;
    bottom: 0;
    bottom: 80%;
    transform: rotate(90deg);
}

.bottom:before {
    content: '';
    background: white;
    width: 66%;
    height: 17px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: -1%;
    opacity: .5;
}

#progressHeader {
    margin: 0 0 1rem;
}

.progressBar {
    position: relative;
}

progress[value] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
}

progress::-webkit-progress-value {
    transition: 1s width ease-in-out;
}

form {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
}

li {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 20px;
}

span.before {
    content: '';
    display: inline-block;
    width: .5em;
    height: 1px;
    background:#000;
    position: absolute;
        top: 50%;
        right: 100%;
    transform: translatey(-50%);
}

span.after {
    content: '';
    position: absolute;
    right: 115%;
    top: 0;
    transform: rotate(25deg);
    font-size: 8px;
}
