<div class="list-view sub-header">
    <h2>Active: {{ track.name }}</h2>
    <div>
        <!-- <p>Create new</p>
        <img class="add-button" (click)="createNew()" src="./assets/new.svg"/> -->
    </div>
</div>
<div *ngIf="!noTracks">
    <h3 id="progressHeader">
        You've completed {{ percentageDone.toFixed(1) }}% of your goal
        and your {{ timePeriod }} was
        {{ dailyMinutes.toFixed(0) }} minutes or
        {{ dailyPercentage.toFixed(2) }}% completed.
    </h3>
    <div id="progressContainer">
        <span class="top">{{ this.mostTime }} hrs</span>
            <div class="progressBar" [class.monthView]="isMonthView" [class.three-month-view]="isThreeMonthView" [class.six-month-view]="isSixMonthView" *ngFor="let dailyRecordedTime of dailyRecordedTimes; let index = index; let count = count">
                <span class="before">{{ dailyRecordedTime['date'] }}</span>
                <progress class="progress-bar" max="{{ this.mostTime }}" value="{{ dailyRecordedTime['time'] }}"></progress>
            </div>
        <span class="bottom">&nbsp;&nbsp;0 hrs</span>
    </div>
    <div id="formContainer">
        <form action="">
            <label for="1-month">
                <input type="radio" name="timeFrame" id="1-month" class="radio" (click)="changeTimeFrame($event)">1-month
            </label>
            <label for="3-month">
                <input type="radio" name="timeFrame" id="3-month" class="radio" (click)="changeTimeFrame($event)">3-month
            </label>
            <label for="6-month">
                <input type="radio" name="timeFrame" id="6-month" class="radio" (click)="changeTimeFrame($event)">6-month
            </label>
        </form>
    </div>
</div>
<div *ngIf="noTracks"><h2>Currently there are zero tracks selected. Please select a track or create a new one.</h2></div>

