.alert {
  border: dashed 15px aliceblue;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
  height: 100px;
  padding: 25%;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -66%);
  visibility: hidden;
  width: 100px;
}

.twenty-five {
  animation: blink 3s ease-in-out 1 normal;
  background: red;
}

.twenty-five:before {
  animation: reverse-spin 3s ease-in-out 1;
  content: '25% Done!';
  font-size: 3em;
  text-align: center;
}

.alert.twenty-five:after {
  animation: ultra-reverse-spin 3s ease-in-out 1;
  content: '';
  border: dashed 15px white;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.fifty {
  animation: blink 3s ease-in-out 1 normal;
  background: green;
}

.fifty:before {
  animation: reverse-spin 3s ease-in-out 1;
  content: '50% Done!';
  font-size: 3em;
  text-align: center;
}

.fifty:after {
  animation: ultra-reverse-spin 3s ease-in-out 1;
  content: '';
  border: dashed 15px white;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.seventy-five {
  animation: blink 3s ease-in-out 1 normal;
  background: blue;
}

.seventy-five:before {
  animation: reverse-spin 3s ease-in-out 1;
  content: '75% Done!';
  font-size: 3em;
  text-align: center;
}

.seventy-five:after {
  animation: ultra-reverse-spin 3s ease-in-out 1;
  content: '';
  border: dashed 15px white;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.one-hundred {
  animation: blink 3s ease-in-out 1 normal;
  background: rebeccapurple;
}

.one-hundred:before {
  animation: reverse-spin 3s ease-in-out 1;
  content: '100% Done!';
  font-size: 3em;
  text-align: center;
}

.one-hundred:after {
  animation: ultra-reverse-spin 3s ease-in-out 1;
  content: '';
  border: dashed 15px white;
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    visibility: visible;
    transform: translate(-50%, -66%) rotate(0deg);
  }
  100% {
    visibility: hidden;
    transform: translate(-50%, -66%) rotate(360deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ultra-reverse-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
