<div *ngIf="!noTracks" class="manual-input" [class.active]="modal.state === 'Open'">
  <form action="">
    <input type="tel"
           name="minutes"
           id="minutes"
           [(ngModel)]="minutes"
           placeholder="Enter {{ hours ? 'hours' : 'minutes'}}"
           autocomplete="off"
           min="0"
           max="1440">
    <img (click)="hours = !hours" src="./assets/time-24px.svg" alt="">
    <button (click)='addMinutes(minutes)'><img src="./assets/save-24px.svg"></button>
    <img class="cal-button" (click)="modal.showOrHide(toggle); toggle = !toggle" src="./assets/date_range-24px.svg" alt=""/>
  </form>
  <!--<div class="controls">-->
    <!--<p>{{ modal.state }} calendar </p>-->
  <!--</div>-->
  <app-calendar #modal></app-calendar>
</div>
