#titleContainer {
    position: relative;
    margin-top: 1em;
    background: #fff;
}

h1 {
    color: #b06d06;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    padding-left: 0;
}

.trackList ul {
    padding-left: 0;
}

li {
    list-style: none;
}

nav {
    position: fixed;
        bottom: 0;
        left: 50%;
    width: 100%;
    padding-top: 1em;
    transform: translatex(-50%);
    max-width: 768px;
    background: #fff;
    z-index: 10;
}

nav a {
    width: 33%;
    display: inline-block;
    text-align: center;
}
