<div class="main" (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <table class="" cols="7" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th colspan="7"><span class="arrow left" (click)="prevMonth()"></span> {{ displayMonth }} {{ displayYear }}<span class="arrow right" (click)="nextMonth()"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td *ngFor="let day of weekdays">{{ day }}</td>
      </tr>
      <tr *ngFor="let week of month.weeks"> 
          <td *ngFor="let day of week" class="{{ checkForToday(day.date) }}" id="{{ curYear }}-{{ formatSingleDigitValues(monthToDisplay + 1) }}-{{ formatSingleDigitValues(day.date) }}"
            >{{ day.date }}
            <label (click)="test = !test" *ngIf="day.minutes && test" class="timeStamp-{{ day.date }}">{{ day.minutes }}</label>
            <input *ngIf="day.minutes && !test" (blur)="test = true && updateStorage(day.date, day.minutes)" tabindex="0" type="text" value="{{ day.minutes }}">
          </td>
      </tr>
    </tbody>
  </table>
  <!-- <button type="button" class="btn btn-default" (click)="hide()">Close</button> -->
</div>

<!-- <div class="calendar"></div> -->
