<div class="input-view sub-header">
  <!-- <p>Open calendar </p><img class="cal-button" (click)="openCal()" src="./assets/calendar.svg"/> -->
    <h2>Active: {{ track.name }}</h2>
    <div class="controls">
        <p>{{ modal.state }} calendar </p>
        <img class="cal-button" (click)="modal.showOrHide(toggle); toggle = !toggle" src="./assets/calendar.svg"/>
    </div>
</div>
<app-calendar #modal></app-calendar>
<div *ngIf="!noTracks" class="manual-input" [class.active]="modal.state === 'Open'"> 
  <form>
    <h3>Made Progress? Add Time Here</h3>
    <input type="tel" 
           name="minutes" 
           id="minutes" 
           [(ngModel)]="minutes" 
           placeholder="Enter {{ hoursOrMinutes }}" 
           autocomplete="off" 
           min="0" 
           max="1440">
    <input type="checkbox" 
           name="hours" 
           id="hours" 
           (change)="hours = !hours">
    <label for="hours">Hours</label>
    <button (click)='addMinutes(minutes)'>Submit</button>
  </form>
  <div *ngIf="routeFromCal">
    <p>Pressing submit will overwrite the <strong>{{ minutesAlreadyEntered }} {{ increment }}</strong> you've already entered for <strong>{{ routeFromCal }}</strong>.</p>
  </div>
</div>
<div *ngIf="noTracks"><h2>Currently there are zero tracks selected. Please select a track or create a new one.</h2></div>
