.controls img {
    vertical-align: middle;
}

img.cal-button {
    margin-left: .5em;
    width: 2rem;
}

form div {
    display: flex;
}

form div > input {
    border: #ddd solid 3px;
    padding: 1em;
    flex: 4;
}

form label {
    padding-left: 1em;
}

.manual-input {
    position: absolute;
        top: 7.5em;
    opacity: 0;
    pointer-events: none;
}

.manual-input.active {
    opacity: 1;
    pointer-events: initial;
}

button {
    display: block;
    margin-top: 2em;
    padding: 1em;
}
