<div class="list-view sub-header">
    <h2>Active: {{ track?.name }}</h2>
    <div class="controls">
        <p>Create new</p>
        <img class="add-button" (click)="createNew()" src="./assets/twotone-control_point-24px.svg"/>
    </div>
</div>
<div class="buttons-container">
  <button type="button" id="delete" class="listButtons" (click)="deleteTrack(track)" [disabled]="!track">delete</button>
  <button type="button" class="listButtons" (click)="exportTrackData(track)" [disabled]="!track">export</button>
</div>
<div *ngIf="!noTracks" class="trackList">
    <ul>
        <li *ngFor="let track of tracks; let i = index;"
            class="track-{{i}}"
            (click)="makeSelectedTrack(track)"
            [routerLink]="['/IO']">

          <app-list-item [individualTrack]="track" (toParent)="nameCheck($event)"></app-list-item>

        </li>
    </ul>
</div>


<div *ngIf="noTracks" [class.noTracks]="noTracks">
    <h3>Click the plus one (+1) to get started.</h3>
</div>
