.trackList {
    width: 100%;
    padding-bottom: 3em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-bottom: 20px;
    position: relative;
    /*border: 5px solid #ddd;*/
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    overflow: hidden;
}

li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 1em 1em 2em;
}

.hasTracks h2 {
    color: #b06d06;
    pointer-events: none;
}

.hasTracks h2:first-of-type {
    font-size: 2em;
    opacity: .4;
    margin: 0;
    text-align: left;
}

.hasTracks h2:last-of-type {
    position: absolute;
    bottom: .5em;
    right: 1em;
    margin: 0;
}


.noTracks h2 {
    color: #000;
    font-size: 1.5em;
}

button {
  width: 49%;
  padding: .49em 0;
  border-radius: 5%;
  margin: 0 .5%;
  font-size: 1em;
  color: black;
  background: 0;
  border: 1px solid #ccc;
}

button:first-child {
  background: goldenrod;
  color: white;
  border: 0;
  padding: .5em;
}
