<div class="list-view sub-header">
    <h2>Active: {{ track?.name }}</h2>
    <div class="controls">
        <p>Create new</p>
        <img class="add-button" (click)="createNew()" src="./assets/new.svg"/>
    </div>
</div>
<div *ngIf="!noTracks" class="trackList">
    <ul>
        <li *ngFor="let track of tracks; let i = index;" class="track-{{i}}" (click)="makeSelectedTrack(track)">
            <!-- <a href="/Input" [routerLink]="['/Input']" id="trackWrapper" (click)="makeSelectedTrack($event)"> -->
            <div class="track-wrapper">
                <div>
                    <span class="percent">{{ findPercentCompleted(track) }}%<br>done</span>
                </div>
                <div class="track-details">
                    <div>
                        <label *ngIf="!track.editName" 
                            (click)="editTrackDetails(track, 'name')" 
                            name="name">{{ track.name }}</label>
                        <input *ngIf="track.editName" 
                            (blur)="track.editName = false; updateTrackName(track, name.value)"
                            class="name"
                            value="{{ track.name }}" 
                            type="text" 
                            name="name" 
                            pattern="[a-zA-Z\s]+"
                            autofocus #name>
                    </div>
                    <div>
                        <label *ngIf="!track.editTime" 
                            (click)="editTrackDetails(track, 'time')" 
                            name="time">{{ track?.time }} hours</label>
                        <input *ngIf="track.editTime" 
                            (blur)="track.editTime = false; updateTrackTime(track, time.value)" 
                            class="time"
                            value="{{ track?.time }}" 
                            type="number" 
                            name="time" 
                            autofocus #time>
                    </div>
                </div>
                <div class="button-wrap">
                    <button type="button" id="edit" class="listButtons" (click)="makeSelectedTrack(track)" [routerLink]="['/Input']">add time</button>
                    <button type="button" id="delete" class="listButtons" (click)="deleteTrack(track)">delete</button>
                    <button type="button" id="delete" class="listButtons" (click)="exportTrackData(track.name)">export</button> 
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- <div *ngIf="noTracks" [class.noTracks]="noTracks" >
    <h2>Currently there are zero tracks selected. Please select a track or create a new one.</h2>
</div> -->
<div *ngIf="noTracks" [class.noTracks]="noTracks" >
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</h2>
</div>