<div class="list-view">
    <p>Create new</p><img class="add-button" (click)="createNew()" src="./assets/new.svg"/>
</div>
<div *ngIf="!noTracks" class="trackList">
    <ul>
        <li *ngFor="let track of tracks; let i = index;" class="track-{{i}}" (click)="makeSelectedTrack(track.name)">
            <!-- <a href="/Input" [routerLink]="['/Input']" id="trackWrapper" (click)="makeSelectedTrack($event)"> -->
            <div id="trackWrapper">
                <div>
                    <label *ngIf="!nameSelected" (click)="!nameSelected = true">{{ track.name }}</label>
                    <input *ngIf="nameSelected" (blur)="nameSelected = false; updateTrack(track.name)"  value="{{ track.name }}" type="text">
                </div>
                <div>
                    <label *ngIf="!timeSelected" (click)="!timeSelected = true">{{ track?.time }} hours</label>
                    <input *ngIf="timeSelected" (blur)="timeSelected = false; updateTrack(track.name)" value="{{ track?.time }}" type="text" >
                </div>
                <span class="percent">{{ findPercentCompleted(track.name) }}%done</span>
            </div>
            <span id="edit" class="listButtons" (click)="editTrack($event)">edit</span>
            <span id="delete" class="listButtons" (click)="deleteTrack($event)">delete</span>
            <span id="delete" class="listButtons" (click)="exportTrackData(track.name)">export</span> 
        </li>
    </ul>
</div>
<!-- <div *ngIf="noTracks" [class.noTracks]="noTracks" >
    <h2>Currently there are zero tracks selected. Please select a track or create a new one.</h2>
</div> -->
<div *ngIf="noTracks" [class.noTracks]="noTracks" >
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</h2>
</div>