/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    position: relative;
}

.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sub-header div img {
    vertical-align: middle;
}

img {
    width: 2em;
}

.controls p {
    display: none;
}

button {
    width: 100%;
    border: 3px solid #ddd;
    margin-bottom: 3px;
}
