/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    position: relative;
    max-width: 768px;
    margin: 0 10px 10px 10px;
    padding-bottom: 100px;
}

@media only screen and (min-width: 499px) {
    body {
        padding-bottom: 300px;
    }
}

@media only screen and (min-width: 767px) {
    body {
        margin: auto;
    }
}

.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.sub-header h2 {*/
    /*margin: 0 0 1rem;*/
/*}*/

.sub-header div img {
    vertical-align: middle;
}

#titleContainer h1 {
    color: #b06d06;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 1rem;
}

ul {
    padding-left: 0;
}

.trackList ul {
    padding-left: 0;
}

li {
    list-style: none;
}

nav {
    position: fixed;
        bottom: 0;
        left: 50%;
    width: 100%;
    padding-top: 1em;
    transform: translatex(-50%);
    max-width: 768px;
    background: #fff;
    z-index: 10;
}

nav a {
    width: 33%;
    display: inline-block;
    text-align: center;
}

input {
    font-size: 16px;
}

.controls p {
  display: none;
}

app-app-input-field {
  margin-bottom: 1em;
  display: block;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

button {
  flex: 1;
  border-radius: 3px;
  margin: 0 .5%;
  font-size: 1em;
  color: #fff;
  background: #777;
  border: 1px solid #777;
}

button:nth-child(odd) {
  background: goldenrod;
  color: white;
  border: 0;
  padding: .5em;
}

.alert {
  background: goldenrod;
  padding: 1em;
  margin: 0;
  color: white;
  border-radius: 3px;
}

